/* All the text style classes for Automa Web Application */

/* HEADINGS: */
.headline3xl {
  font-weight: var(--bold);
  font-size: 6em;
  line-height: 100%;
}

.headline2xl {
  font-weight: var(--bold); font-size: 4.8em;
  line-height: 5.6em;
}

.headlinexl {
  font-weight: var(--bold);
  font-size: 3.6em;
  line-height: 4.4em;
}

.headlinelg {
  font-weight: var(--semibold);
  font-size: 3em;
  line-height: 4em;
}

.headlinemd {
  font-weight: var(--semibold);
  font-size: 2.4em;
  line-height: 3.6em;
}

.headlinesm {
  font-weight: var(--semibold);
  font-size: 1.6em;
  line-height: 100%;
}

/*----------------------------------------------------------------------------*/
/* BODY: */

.bodyxl {
  font-size: 2em;
  line-height: 150%;
}

.bodylg {
  font-size: 1.8em;
  line-height: 2.8em;
}

.bodymd {
  font-size: 1.6em;
  line-height: 2.4em;
}

.bodysm {
  font-size: 1.4em;
  line-height: 2.1em;
}

/*----------------------------------------------------------------------------*/
/* META (OTHER): */

.labelmd {
  font-size: 1.4em;
  line-height: 100%;
}

.labelsm {
  font-size: 1.2em;
  line-height: 1.4em;
}

.captionmd {
  font-size: 1.2em;
  line-height: 1.5em;
}

.nav-link {
  font-size: 1.6em;
  line-height: 135%;
}

.link {
  font-size: 1.6em;
  line-height: 2.2em;
}

.badge-text {
  font-size: 1.2em;
  line-height: 1.5em;
}
