* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS:  */
  /*-------------------------------------*/
  /* Background & Text:  */

  --bg-color: #121212;
  --bg-light: #fff;
  --text: #fff;
  --text-dark: #121212;

  /*-------------------------------------*/
  /* Primarary, secondary and tertiary:  */

  --primary: #5353F5;
  --secondary: #000051;
  --tertiary: #373737;

  /*-------------------------------------*/
  /* Overlays:  */

  --overlay50: rgba(255, 255, 255, .05);
  --overlay100: rgba(255, 255, 255, .1);
  --overlay100-orange: #5f2e18;
  --overlay100-attention: #12550f;
  --overlay100-no-transparency: #303253;

  /*-------------------------------------*/
  /* Containers:  */

  --container-primary-dark: #1C1C1E;
  --box-disabled: #404151;

  /*-------------------------------------*/
  /* Box Colors:  */

  --box-error: #815656;
  --box-disabled: #404151;

  /*-------------------------------------*/
  /* Labels:  */

  --label-default: #6d6d6d;
  --label-primary-light: #000;
  --label-primary-dark: #fff;
  --label-tertiary-light: rgba(60, 60, 67, 0.3);
  --label-tertiary-dark: rgba(235, 235, 245, 0.3);

  /*-------------------------------------*/
  /* Separators:  */

  --separator-non-opaque-light: rgba(60, 60, 67, 0.36);
  --separator-non-opaque-dark: rgba(84, 84, 88, 0.65);

  /*-------------------------------------*/
  /* Attention:  */

  --text-attention: #33ff00;

  /*-------------------------------------*/
  /* Other colors */

  --link: #1877f2;
  --orange: #ff8a00;
  --bright-blue: #1877f2;

  /*-------------------------------------*/
  /* Gradients */

  --attention-text-gradient: linear-gradient(90deg, #adff76, #8aff3c, #66ff00):

  /*----------------------------------------------------------------------------*/
  /* BORDER SIZES: */

  --bordersm: 1px solid;
  --bordermd: 2px solid;
  --borderlg: 3px solid;
  --borderxl: 5px solid;
  --border2xl: 7px solid;
  --border3xl: 10px solid;

  /*----------------------------------------------------------------------------*/
  /* BORDER RADIUS: */

  --rounded-sm {
    border-radius: 2.5px;
  }

  --rounded-md {
    border-radius: 5px;
  }

  --rounded-lg {
    border-radius: 10px;
  }

  --rounded-xl {
    border-radius: 12px;
  }

  --rounded-2xl {
    border-radius: 18px;
  }

  --rounded-3xl {
    border-radius: 25px;
  }

  --rounded-4xl {
    border-radius: 32px;
  }

  --rounded-4xl {
    border-radius: 40px;
  }

  --rounded-full {
    border-radius: 50%;
  }

  /*----------------------------------------------------------------------------*/
  /* FONT WEIGHT: */

  --bold: bold;
  --semibold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --extra-light: 200;
  --thin: 100;

  /*----------------------------------------------------------------------------*/
  /* EFFECTS: */
  /*-------------------------------------*/
  /* BACKDROP-FITLER:  */
  --blur50: blur(50px);

}

/* GLOBAL STYLES */
body {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text);
}

button {
  border-radius: var(--rounded-4xl);
  border: none;
}

img {
  object-fit: cover;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

li, a {
  font-size: 1.5em;
}

a {
  color: var(--text);
  text-decoration: none;
}


nav {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

nav header {
  display: flex;
  align-items: center;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

nav header img {
  display: none;
  width: 25px;
}

nav header h1 {
  font-size: 2em;
}

#menu-btn {
  vertical-align: middle;
  cursor: pointer;
  line-height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

#nav-list {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 10vh;
  right: 5vh;
  border-radius: 7px;
  border: 2px solid white;
  padding: 15px 25px;
  backdrop-filter: blur(50px);
  gap: 10px;
  list-style: none;
  transition: .5s ease-in-out;
}

#nav-list a {
  font-size: 1.5em;
  font-weight: 600;
  transition: .5s ease-in-out;
  position: relative;
}

#nav-list a::after {
  content: "";
  position: absolute;
  background-color: var(--text);
  left: 0;
  top: 100%;
  height: 2.5px;
  width: 0px;
  transition: width .45s;
  border-radius: 5px;
}

#nav-list a:hover:after {
  width: 100%;
}

.slide-from-right {
  animation: slide-from-right .5s ease-in-out;
  z-index: 1;
}

.slide-from-left {
  animation: slide-from-left .5s ease-in-out;
  z-index: -1;
  opacity: 0;
}

@keyframes slide-from-right {
  0% {
    right: 0%;
    opacity: 0;
  }
  100% {
    right: 5vh;
    opacity: 1;
  }
} 

@keyframes slide-from-left {
  0% {
    right: 5vh;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 0;
  }
} 

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

@media (min-width: 512px) {
  nav {
    padding: 0px 35px;
  }
  #menu-btn {
    display: none;
  }
  #nav-list {
    display: flex;
    position: static;
    flex-direction: row; 
    padding: 0;
    border: none;
  }
}

@media (min-width: 800px) {
  nav header img {
    display: block;
  }
}
