
/* BUTTON TYPES */
.btn-primary {
  background-color: var(--primary);
}

/*----------------------------------------------------------------------------*/
/* BODY: */

.btn-secondary {
  background-color: var(--secondary);
}

.btn-tertiary {
  background-color: var(--tertiary);
}

.btn-outline {
  background-color: transparent;
  border: var(--bordermd);
  border-color: var(--text);
}

/*----------------------------------------------------------------------------*/
/* SIZE: */

.btn-lg {
  padding: 1.8em 2.5em;
}

.btn-md {
  padding: 1.4em 2em;
}

.btn-sm {
  padding: 1.15em 1.5em;
}
