/* IMAGE SQUARE: */

.img-square {
  border-radius: var(--rounded-xl);
}

/*-------------------------------------*/
/* IMAGE SQUARE 4XL:  */

.img-square.img-4xl {
  width: 350px;
  height: 350px;
}

/*-------------------------------------*/
/* IMAGE SQUARE 3XL:  */

.img-square.img-3xl {
  width: 325px;
  height: 325px;
}
 
/*-------------------------------------*/
/* IMAGE SQUARE 2XL:  */

.img-square.img-2xl {
  width: 300px;
  height: 300px;
}
 
/*-------------------------------------*/
/* IMAGE SQUARE XL:  */

.img-square.img-xl {
  width: 275px;
  height: 275px;
}
 
/*-------------------------------------*/
/* IMAGE SQUARE LG:  */

.img-square.img-xl {
  width: 250px;
  height: 250px;
}
 
/*-------------------------------------*/
/* IMAGE SQUARE MD:  */

.img-square.img-md {
  width: 225px;
  height: 225px;
}

/*-------------------------------------*/
/* IMAGE SQUARE SM:  */

.img-square.img-sm {
  width: 200px;
  height: 200px;
}

/*-------------------------------------*/
/* IMAGE SQUARE XS:  */

.img-square.img-xs {
  width: 175px;
  height: 175px;
}

/*-------------------------------------*/
/* IMAGE SQUARE 2XS:  */

.img-square.img-2xl {
  width: 100px;
  height: 100px; 
}

/*----------------------------------------------------------------------------*/
/* IMAGE RECTANGLE: */

.img-rectangle {
  border-radius: var(--rounded-lg);
}

/*-------------------------------------*/
/* IMAGE RECTANGLE 4XL:  */

.img-rectangle.img-4xl {
  width: 600px;
  height: 300px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE 3XL:  */

.img-rectangle.img-3xl {
  width: 550px;
  height: 275px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE 2XL:  */

.img-rectangle.img-2xl {
  width: 500px;
  height: 250px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE XL:  */

.img-rectangle.img-xl {
  width: 450px;
  height: 225px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE LG:  */

.img-rectangle.img-lg {
  width: 400px;
  height: 200px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE MD:  */

.img-rectangle.img-md {
  width: 350px;
  height: 175px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE SM:  */

.img-rectangle.img-sm {
  width: 300px;
  height: 150px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE XS:  */

.img-rectangle.img-xs {
  width: 250px;
  height: 125px; 
}

/*-------------------------------------*/
/* IMAGE RECTANGLE 2XS:  */

.img-rectangle.img-2xs {
  width: 200px;
  height: 100px; 
}

