
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  padding: 10px;
  position: relative;
}

.hero, .inner-hero, .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inner-hero {
  gap: 23px;
  padding-bottom: 96px;
}

.hero-text {
  gap: 5px;
}

.hero-text h1 {
  background: var(--attention-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero-bottom-text {
  position: absolute; 
  width: 90%;
  bottom: 30px;
}

@media (min-width: 320px) {
  .hero-text p {
    width: 80%;
  }
}
