
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  padding: 10px;
  position: relative;
}

.hero, .inner-hero, .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inner-hero {
  gap: 23px;
  padding-bottom: 96px;
}

.hero-text {
  gap: 5px;
}

.hero-text h1 {
  background: var(--attention-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 10px solid yellow;
  padding-right: 5px;
  animation: blink .8s ease-in-out infinite;
}

@keyframes blink {
  0% {
    border-right-color: rgba(2355, 255, 0, 0.5);
  }
  33% {
    border-right-color: rgba(2355, 255, 0, 0);
  }
  66% {
    border-right-color: rgba(2355, 255, 0, 0.5);
  }
  100% {
    border-right-color: rgba(2355, 255, 0, 1);
  }
}

#hero-bottom-text {
  position: absolute; 
  width: 90%;
  bottom: 30px;
}

@media (min-width: 450px) {
  .hero-text p {
    width: 80%;
  }

  #hero-bottom-text {
    width: 70%;
  }

/* const mobileWidth = 450; */
/* const tabletWidth  = 750; */
/* const desktopWidth = 1000; */
}

@media (min-width: 750px) {
  .hero-text p {
    width: 70%;
  }

  #hero-bottom-text {
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .hero-text p {
    width: 60%;
  }

  #hero-bottom-text {
    width: 50%;
  }
}
