/* BUTTON TYPES */
.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-tertiary {
  background-color: var(--tertiary);
}

.btn-outline {
  background-color: transparent;
  border: var(--bordermd);
  border-color: var(--text);
}

/*----------------------------------------------------------------------------*/
/* SIZE: */

.btn-lg {
  padding: 18px 25px;
}

.btn-md {
  padding: 14px 20px;
}

.btn-sm {
  padding: 11.5px 15px;
}
