/* DEFAULT CARD: */

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--rounded-2xl);
}

/*-------------------------------------*/
/* DEFAULT DESKTOP CARD (LG):  */

.card.card-lg {
  gap: 32px;
  padding: 30px 40px;
  background-color: var(--overlay50);
  backdrop-filter: var(--blur50);
}

/*-------------------------------------*/
/* DEFAULT MOBILE CARD (SM):  */

.card.card-sm {
  gap: 15px;
  padding: 15px 20px;
}

/*----------------------------------------------------------------------------*/
/* OVERLAY CARD: */

.overlay-card {
  background-color: var(--overlay100);
  border-radius: var(--rounded-xl);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*-------------------------------------*/
/* OVERLAY DESKTOP CARD (LG):  */

.overlay-card.card-lg {
  padding: 20px 30px;
  gap: 16px;
}

/*-------------------------------------*/
/* OVERLAY DEFAULT CARD (MD):  */

.overlay-card.card-md {
  padding: 20px 30px;  
  gap: 10px;
}


/*-------------------------------------*/
/* OVERLAY MOBILE CARD (SM):  */

.overlay-card.card-sm {
  padding: 10px 15px;  
  gap: 10px;
}

/*-------------------------------------*/
/* OVERLAY CHIP CARD:  */

.overlay-card.chip-card {
  flex-direction: row;
  padding: 20px 30px;
  gap: 10px;
}

/*----------------------------------------------------------------------------*/
/* DASHBOARD CARD: */

.dashboard-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  border-radius: var(--rounded-lg);
}
