/* TEXT INPUT: */

.text-input {
  width: 100%;
  background-color: var(--container-primary-dark);
}

/*-------------------------------------*/
/* DEFAULT DESKTOP CARD (LG):  */

.card.card-lg {
  gap: 32px;
  padding: 30px 40px;
  background-color: var(--overlay50);
  backdrop-filter: var(--blur50);
}

/*-------------------------------------*/
/* DEFAULT MOBILE CARD (SM):  */

.card.card-sm {
  gap: 15px;
  padding: 15px 20px;
}

/*----------------------------------------------------------------------------*/
/* OVERLAY CARD: */


.text-input {
  width: 100%;
}
