nav {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 21px;
}

nav header {
  display: flex;
  align-items: center;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

nav header img {
  display: none;
  width: 25px;
}

#menu-btn {
  vertical-align: middle; cursor: pointer;
  line-height: 100%;
  background-color: transparent;
  border: none;
  width: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

#nav-list {
  gap: 10px;
  display: none;
  position: absolute;
  flex-direction: column;
  top: 10vh;
  right: 5vh;
  border-radius: var(--rounded-lg);
  border: var(--bordermd);
  border-color: var(--text);
  padding: 16px 30px;
  backdrop-filter: blur(50px);
  list-style: none;
  transition: .5s ease-in-out;
}

#nav-list a {
  transition: .5s ease-in-out;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--text);
  left: 0;
  top: 100%;
  height: 2.5px;
  width: 0px;
  transition: width .45s;
  border-radius: 5px;
}

#nav-list a:hover:after {
  width: 100%;
}

.slide-from-right {
  animation: slide-from-right .5s ease-in-out;
  z-index: 1;
}

.slide-from-left {
  animation: slide-from-left .5s ease-in-out;
  z-index: -1;
  opacity: 0;
}

@keyframes slide-from-right {
  0% {
    right: 0%;
    opacity: 0;
  }
  100% {
    right: 5vh;
    opacity: 1;
  }
} 

@keyframes slide-from-left {
  0% {
    right: 5vh;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 0;
  }
} 

@media (min-width: 512px) {
  nav {
    padding: 0px 35px;
  }

  #menu-btn {
    display: none;
  }
  #nav-list {
    display: flex;
    gap: 25px;
    position: static;
    flex-direction: row; 
    padding: 0;
    border: none;
  }
}

@media (min-width: 800px) {
  nav header img {
    display: block;
  }
}
